body{
    background-color: rgb(122, 129, 130);
}
.headings{
    font-family: "Quantico", sans-serif;
    color: rgb(43, 45, 45);
    text-align: center;
}
#div1{
    width:60%;
    height: auto;
    background-color: rgb(43, 45, 45);
    position: absolute;
    top:0%;
    left:20%;
    text-align: center;
    color:  rgb(122, 129, 130);
    font-family: "Share Tech Mono", monospace;
    border-radius: 0px 0px 10px 10px;
}
#div1 p{
    font-size: 20px;
    margin: 10px 0px;
}
#name{
    text-align: left;
    color: rgb(43, 45, 45);
    margin-top: 80px;
    margin-left: 15%;
    font-size: 40px;
}
#info{
    width: 50%;
    margin-left: 5%;
    margin-top: 20px;
    font-family: 'Bitter', serif;
    color: rgb(43, 45, 45);
}
hr{
    margin-top: 40px;
    width:90%;
    color:rgb(43, 45, 45);
}
ul{
    list-style-type: none;
}
.point{
    margin-bottom: 0px;
    font-size: 18px;
}
.sub-point{
    margin-top: 2px;
    font-size: 14px;
}
.l,.r{
    width: 45%;
    height: 80px;
    background-color: rgb(103, 105, 105);
    background-color: rgb(87, 95, 95);
    color: rgb(32, 33, 33);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Bitter', serif;
}
.l{
    float: left;
    margin: 20px 5%;
    text-align: left;
}
.r{
    float: right;
    margin: 20px 5%;
    text-align: right;
}
#profile_photo{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top:13%;
    left:65%;
    border-width: 2px; border-color: black; border-style: solid;
}
.vert_line{
    border-left: 5px dotted rgb(43, 45, 45);
    height: 120px;
}
#vl1{
    position: absolute;
    top: 470px;
    left: 51%;
}
#vl2{
    position: absolute;
    top: 712px;
    left: 51%;
}
.skill{
    width: 15%;
    height: auto;
    border: 3px solid rgb(43, 45, 45);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 10px;
    font-family: 'Bitter', serif;
    color: rgb(43, 45, 45);

}